<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{:session('sys.webtitle')}</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="renderer" content="webkit">
        <meta http-equiv="Cache-Control" content="no-siteapp" />
        <link rel="icon" type="image/png" href="/theme/default/images/favicon.png">
		<link href="/assets/css/amazeui.min.css" rel="stylesheet" type="text/css" />
		<link href="/assets/css/style.css" rel="stylesheet" type="text/css" />
		<link href="/assets/css/check.css" rel="stylesheet" type="text/css" />
		<script src="/assets/js/jquery-3.2.1.min.js"></script>
		<script src="/assets/js/layer_mobile/layer.js"></script>
	</head>
	<body style="background: #efefef;">
		<header data-am-widget="header" class="am-header am-header-default sq-head ">
			<div class="am-header-left am-header-nav">
				<a href="{:outo()}" class="">
					<i class="am-icon-chevron-left"></i>
				</a>
			</div>
			<h1 class="am-header-title">
  	            <a href="" class="">绑定手机号</a>
            </h1>
      <div class="am-header-right am-header-nav">
				<a href="/index.html" class="">
					<i class="am-icon-home am-icon-sm"></i>
				</a>
			</div>
	    </header>
	    <div style="height: 49px;"></div>
	    <div class="pay-iphone">请填写手机号并进行验证</div>
	  <form id="bind_mobile">
	    <div class="pay-box" >
	    	<input type="text" id="mobile" name="mobile" placeholder="请输入手机号" />
	    	<input type="button" id="get" value="获取验证码" class="pay-box-btn" />
	    </div>
	    <input type="text" id="verify" name="verify" placeholder="请输入验证码" class="login-password" />
	  </form>  
	    <input type="button" id="bind" class="login-btn" value="确认">
	    <div class="bound-text">
		    <h2>手机绑定规则</h2>
		    <p>1.一个手机号码只可以绑定一个账户；</p>
	        <p>2.如果无法绑定手机，请联系客服协助解决 。</p>
        </div>	

<script>
function msg(m){
  layer.open({
    content: m
    ,skin: 'msg'
    ,time: 2 //2秒后自动关闭
  });
}
var countdown=0;
function settime() {
	if (countdown == 0) {
		$("#get").removeAttr("disabled");
		$("#get").removeClass("lang-btn-dis");
		$("#get").val("重新发送");
		return;
	} else {
		$("#get").attr("disabled", "disabled");
		$("#get").addClass("lang-btn-dis");
		$("#get").val("重新发送("+countdown+"s)");
		countdown--; 
	}
	setTimeout(function() { 
		settime() 
	},1000)
}
function tj(){
	$('.login-btn').attr({"disabled":"disabled"});
  $.ajax({
    type: 'POST',
    async: false,
    url: '/boundphone.html',
    data: $('#bind_mobile').serialize(),
    dataType: 'json',
    success: function(data){
			msg(data.msg);
			if(data.code==1){
	      setTimeout(function(){
					location.href = data.url;
	      },1500);
			}else{
				$('.login-btn').removeAttr("disabled");
			}
    },
    error: function(xhr, type){
			msg('网络错误,请重试!');
			$('.login-btn').removeAttr("disabled");
    }
  });	
}
$(function(){
	$("#get").on("click",function(){
		if(countdown == 0){
			if($("#mobile").val().length == 11){
			  $.ajax({
			    type: 'POST',
		    	async: false,
			    url: '/boundphone.html',
			    data: {
			    	mobile:$("#mobile").val(),
			    	userid:"{:session('user.userid')}"
			    },
			    dataType: 'json',
			    success: function(data){
						switch(data["state"]){
						case 0:
							msg(data["msg"]);
							break;
						case 1:
							$("#get").attr("disabled", "disabled");
							$("#get").addClass("lang-btn-dis");
							msg(data["msg"]);
							//$("#get").text(data["msg"]);
							break;
						case 2:
							countdown=data["time"];
							settime();
							msg(data["msg"]);
							break;
						case 3:
							countdown=60;
							settime();
							msg(data["msg"]);
							break;
						}
			    },
			    error: function(xhr, type){
			      alert("短信服务器故障！");
			    }
			  });
			}else{
			  msg('请输入正确手机号码！');
			}
		}
	});
	

	$("#bind").on("click",function(){
		if($("#mobile").val().length == 11){
			if($("#verify").val().length == 6){
				tj();
			}else{
				msg('请输入6位验证码！');
			}

		}else{
		  msg('请输入正确手机号码！');
		}
	});
})
</script>
	</body>
</html>
