<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{:session('sys.webtitle')}</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="renderer" content="webkit">
        <meta http-equiv="Cache-Control" content="no-siteapp" />
        <link rel="icon" type="image/png" href="/theme/default/images/favicon.png">
		<link href="/assets/css/amazeui.min.css" rel="stylesheet" type="text/css" />
		<link href="/assets/css/style.css" rel="stylesheet" type="text/css" />
		<script src="/assets/js/jquery-3.2.1.min.js"></script>
		<script src="/assets/js/layer_mobile/layer.js"></script>
		
	</head>
	<body>
		<header data-am-widget="header" class="am-header am-header-default sq-head ">
			<div class="am-header-left am-header-nav">
				<a href="{:outo()}" class="">
					<i class="am-icon-chevron-left"></i>
				</a>
			</div>
			<h1 class="am-header-title">
  	            <a href="" class="">管理收货地址</a>
            </h1>
            <div class="am-header-right am-header-nav">
				<a href="{:url('address')}" class="">
					<i class="am-icon-plus"></i>
				</a>
			</div>
	    </header>
	    <div style="height: 49px;"></div>
	    <ul class="address-list">
	    	
	    	{volist name="useraddr" id="vo"}
	    	<li class="{eq name='vo.ifmr' value='1'}curr{/eq}">
	    		<p>收货人：{$vo.lxr}&nbsp;&nbsp;{$vo.lxfs}</p>
	    		<p class="order-add1">收货地址：{$vo.province} {$vo.city} {$vo.county} {$vo.address}</p>
	    	    <hr />
	    	    <div class="address-cz">
	    	    	<label class="am-radio am-warning">
                <input type="radio" name="radio3" value="" data-am-ucheck {eq name='vo.ifmr' value='1'}checked{/eq} data-rid="{$vo.rid}"> 设为默认
              </label>
              <a href="{:url('address',['rid'=>$vo.rid])}"><img src="/assets/images/bj.png" width="18" />&nbsp;编辑</a>
              <a class="del" data-rid="{$vo.rid}" >删除</a>
	    	    </div>
	    	</li>	    		
	    	{/volist}

	    </ul>
<script>
var $omr;
var dj=1;
$(function(){
	$(":radio").each(function(){
    if($(this).attr("checked")){
    	$omr=$(this);
       //alert($(this).data('rid'));
    }
	});
	$('li').click(function(){
		if(!$(this).hasClass('curr')){
			$('.curr').removeClass('curr');
			$(this).addClass('curr');
		}
	});
	$('.del').click(function(){
		var $this=$(this);
	  layer.open({
	    content: '您确定要删除吗？'
	    ,btn: ['确定', '取消']
	    ,yes: function(index){
	      layer.close(index);
	      location.href = "gladdress/del/"+$this.data('rid')+".html";
	    }
	  });
	});
	$('input').click(function(){
		if(dj){
			var $nmr=$(this);
			dj=1;
		  layer.open({
		    content: '您确定设置改地址为默认地址？'
		    ,btn: ['确定', '取消']
		    ,yes: function(index){
		      layer.close(index);
		      location.href = "gladdress/mr/"+$nmr.data('rid')+".html";
		    }
		    ,no:function(){
		    	dj=0;
		    	$omr.click(); 
		    }
		  });
		}else{
			dj=1;
		}
	});
})	
</script>

<script src="/assets/js/amazeui.min.js"></script> 
	</body>
</html>
