<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{:session('sys.webtitle')}</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="renderer" content="webkit">
        <meta http-equiv="Cache-Control" content="no-siteapp" />
        <link rel="icon" type="image/png" href="/theme/default/images/favicon.png">
		<link href="/assets/css/amazeui.min.css" rel="stylesheet" type="text/css" />
		<link href="/assets/css/style.css" rel="stylesheet" type="text/css" />
		<link href="/assets/css/dropload.css" rel="stylesheet" type="text/css" />
		
		<script src="/assets/js/jquery-3.2.1.min.js"></script>
		<script src="/assets/js/time.js"></script>
		<script src="/assets/js/layer_mobile/layer.js"></script>
		<script src="/assets/js/dropload.min.js"></script>
	</head>
    <style>
	.crile-yd { text-align:center; margin:0 auto; padding:2rem 0; background:url(/assets/images/52f107da284760272a3d6cac91ed8312.jpg) center center no-repeat; background-size:cover;}
    .crile-yd span{ width:100px; height:100px; border-radius:100px; display:block; background:#FF9247;margin:0 auto; line-height:100px;
	color:#fff; border:4px solid #dedede;box-sizing:content-box}
    </style>

	<body style="background: #efefef;">
		<header data-am-widget="header" class="am-header am-header-default sq-head ">
			<div class="am-header-left am-header-nav">
				<a href="{:outo()}" class="">
					<i class="am-icon-chevron-left"></i>
				</a>
			</div>
			<h1 class="am-header-title">
  	            <a href="" class="">积分</a>
            </h1>
      <div class="am-header-right am-header-nav">
				<a href="/index.html" class="">
					<i class="am-icon-home am-icon-sm"></i>
				</a>
			</div>
	    </header>
	    <div style="height: 49px;"></div>
	    <div class="record-ye">
	   	  <p>当前积分</p>
	   	  <b>{$integral}</b>
	    </div>
        <div class="crile-yd">
            <span>今日签到</span>
        </div>
	    <div class="re-chong">
	      <a href=""><!--<img src="/assets/images/gift.png" width="22"/>--><span>查看规则</span></a>
	    </div>
	    <ul class="money-out">
	    	<li class="current"><a href="">明细</a></li>
	    	<li><a href="{:url('integralexchange')}">兑换</a></li>
	    </ul>
	    <div id="list">
		    <ul class="out-list">

		    </ul>
	    </div> 
<script>
// 页数
var page = 0;
// 每页展示10个
var size = 6;
var dropload;
$(function(){

  // dropload
  dropload=$('#list').dropload({
    scrollArea : window,
    // 下拉刷新模块显示内容
    domUp : {
      domClass   : 'dropload-up',
      // 下拉过程显示内容
      domRefresh : '<div class="dropload-refresh">↓下拉刷新</div>',
      // 下拉到一定程度显示提示内容
      domUpdate  : '<div class="dropload-update">↑释放更新</div>',
      // 释放后显示内容
      domLoad    : '<div class="dropload-load"><span class="loading"></span>加载中...</div>'
    },
		domDown : {
		  domClass   : 'dropload-down',
		  // 滑动到底部显示内容
		  domRefresh : '<div class="dropload-refresh">↑上拉加载更多</div>',
		  // 内容加载过程中显示内容
		  domLoad    : '<div class="dropload-load"><span class="loading"></span>加载中...</div>',
		  // 没有更多内容-显示提示
		  domNoData  : '<div class="dropload-noData">无更多数据！</div>'
		},
    // 1 . 下拉刷新 回调函数
    loadUpFn : function(me){
			page = 1;
      // 拼接HTML
      var result = '';
      $.ajax({
        type: 'POST',
		    async: false,
        url: '/integral.html',
        data: {
        	page:page,
        	size:size
        },
        dataType: 'json',
        success: function(data){
          for(var i=0; i<data.length; i++){
          	result += ''
				    	+'<li>'
				    		+'<img src="/assets/images/candar.png" width="30" />'
				    		+'<span>';
				    if(data[i].ordertype==1)
          		result += ''
				    			+'<p>消费送积分</p>';
				    else if(data[i].ordertype==2)
          		result += ''
				    			+'<p>签到送积分</p>';
				    else if(data[i].ordertype==3)
          		result += ''
				    			+'<p>优惠券兑换</p>';
				   	else
          		result += ''
				    			+'<p>其他</p>';
				    result += ''
				    			+'<p style="color: #a4a4a4; font-size: 1.4rem;">'+data[i].insertdate+'</p>'
				    		+'</span>';
				    if(data[i].orderintegral>0) data[i].orderintegral='+'+data[i].orderintegral;
				    result += ''
				    		+'<i>'+data[i].orderintegral+'</i>'
				    	+'</li>';

          }

          // 为了测试，延迟1秒加载
          setTimeout(function(){
            // 插入数据到页面，放到最后面
            $('.out-list').html(result);
            // 每次数据插入，必须重置
            me.resetload();
            // 重置页数，重新获取loadDownFn的数据
            page = 1;
            // 解锁loadDownFn里锁定的情况
            me.unlock();
            me.noData(false);
          },1);
        },
        error: function(xhr, type){
          alert('数据获取失败!');
          // 锁定
          me.lock();
          // 无数据
          me.noData();
          // 即使加载出错，也得重置
          me.resetload();
        }
      });
    },
    // 2 . 上拉加载更多 回调函数
    loadDownFn : function(me){
      page++;
      // 拼接HTML
      var result = '';
      $.ajax({
        type: 'POST',
		    async: false,
        url: '/integral.html',
        data: {
        	page:page,
        	size:size
        },
        dataType: 'json',
        success: function(data){
          if( (data!=null) && (data.length>0) ){
            for(var i=0; i<data.length; i++){
	          	result += ''
					    	+'<li>'
					    		+'<img src="/assets/images/candar.png" width="30" />'
					    		+'<span>';
					    if(data[i].ordertype==1)
	          		result += ''
					    			+'<p>消费送积分</p>';
					    else if(data[i].ordertype==2)
	          		result += ''
					    			+'<p>签到送积分</p>';
					    else if(data[i].ordertype==3)
	          		result += ''
					    			+'<p>优惠券兑换</p>';
					   	else
	          		result += ''
					    			+'<p>其他</p>';
					    result += ''
					    			+'<p style="color: #a4a4a4; font-size: 1.4rem;">'+data[i].insertdate+'</p>'
					    		+'</span>';
					    if(data[i].orderintegral>0) data[i].orderintegral='+'+data[i].orderintegral;
					    result += ''
					    		+'<i>'+data[i].orderintegral+'</i>'
					    	+'</li>';
            }
          // 如果没有数据
          }else{
            // 锁定
            me.lock();
            // 无数据
            me.noData();
          }
          // 为了测试，延迟1秒加载
          setTimeout(function(){
            // 插入数据到页面，放到最后面
            $('.out-list').append(result);
            // 每次数据插入，必须重置
            me.resetload();
          },1);
        },
        error: function(xhr, type){
          alert('数据获取失败!');
          // 锁定
          me.lock();
          // 无数据
          me.noData();
          // 即使加载出错，也得重置
          me.resetload();
        }
      });
    },
    threshold : 50
  });
  
	var qd={$qd};
	if(qd){
    $(".crile-yd span").click(function() {
	  	$.ajax({
	  		async: false,
				type: 'GET',
				url: "/integral.html",
				dataType: 'json',
				success: function(data){
					if(data.error != null){
					  layer.open({
					    content: data.error
					    ,skin: 'msg'
					    ,time: 2 //2秒后自动关闭
					  });
					}else{
					  layer.open({
					    content: '连续签到'+data.series+'天，积分+'+data.orderintegral+'。'
					    ,skin: 'msg'
					    ,time: 2 //2秒后自动关闭
					  });
					  $(".record-ye b").text((parseFloat($(".record-ye b").text())+parseFloat(data.orderintegral)).toFixed(2));
						$(".crile-yd span").css({"background":"#C0C0C0","color":"#fff"})
						$(".crile-yd span").html("今日已签");
						$('.out-list').html('');
						page=0;
						dropload.unlock();
						dropload.noData(false);
						dropload.resetload();
						
					}
				},
				error: function(xhr, type){
				  alert('网络错误！');
				}
			});

		})
	}else{
		$(".crile-yd span").css({"background":"#C0C0C0","color":"#fff"})
		$(".crile-yd span").html("今日已签")
	}


});
</script>
<script src="/assets/js/amazeui.min.js"></script> 
</body>
</html>
