<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" type="text/css" href="/assets/css/share.css" />
<title>{:session('sys.webtitle')}</title>
</head>

<body>

<div id="header" class="head">
    <div class="wrap">
        <i class="menu_back"><a href="{:outo()}"></a></i>
        <div class="title">
            <span class="title_d"><p>提现记录</p></span>
            <div class="clear"></div>
        </div>
    </div>
</div>
<div id="content">
     <div class="revCon">
          <div class="g-accounts-details g-recharge-details clearfix"> 
             <ul>
                <li><span>金额</span><span>状态</span><span>申请时间</span></li>
                <li><span>¥20</span><span>受理中</span><span>2016/8/7 11:51</span></li>
             </ul>      
                
          </div>
     </div>
</div>
</body>
</html>
