<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width">
	<title></title>
	<link rel="stylesheet" type="text/css" href="{:ADDON_PUBLIC_PATH}/css/bootstrap.min.css"/>
	<script type="text/javascript" src="{:ADDON_PUBLIC_PATH}/js/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="{:ADDON_PUBLIC_PATH}/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="//webapi.amap.com/maps?v=1.3&key=ac262d2172bd0edc6919c0c81fbd2afa"></script>
</head>
<body>
<div class="container-fluid" >
<a class="btn btn-default btn-lg" href="{:U("shop_register")}">门店登记</a>
<a class="btn btn-default btn-lg" href="{:U("project_list")}">项目列表</a>
<a class="btn btn-default btn-lg" href="{:U("technician_list")}">技师登记</a>
<a class="btn btn-default btn-lg" href="{:addons_url('Bll://Login/logout')}">安全退出</a>

</div>

</body>
</html>
