{extend name="layout" /}
{block name="content"}

	<div class="first-widget parallax" id="portfolioId">
		<div class="parallax-overlay">
			<div class="container pageTitle">
				<div class="row">
					<div class="col-md-12 col-sm-12 text-center" style="margin-bottom:20px;">
						<h2 class="page-title">案例介绍</h2>
					</div> <!-- /.col-md-6 -->
					<div class="col-md-12 col-sm-12 text-center">
						<span class="page-location">为您的需求提供快速可靠的技术解决方案</span>
					</div> <!-- /.col-md-6 -->
				</div> <!-- /.row -->
			</div> <!-- /.container -->
		</div> <!-- /.parallax-overlay -->
	</div> <!-- /.pageTitle -->

	<div class="container">	
		<div class="row project-single">
			<div class="col-md-7">
				<div class="project-img">
					<img src="__STATIC__/index/images/includes/pic-1.jpg" alt="Project Image 1">
				</div> <!-- /.project-img -->
			</div> <!-- /.col-md-8 -->
			<div class="col-md-5">
				<div class="project-info">
					<span class="subtitle">案例一：</span>
					<h3 class="project-title">福建大自然休闲足疗会所</h3>
					<p class="description">福建大自然休闲足疗会所是泉州市最大的休闲娱乐养生会所，致力于为顾客提供最舒适、体贴的健康养生服务。
随着业务扩张和互联网+时代的来临，大自然决定将为顾客提供更加方便快捷，信息化的线上服务作为线下服务的有力补充。</p>
					<p>传统会所+互联网 ，打造新的服务升级</p>
                    <p><a href="{:url('project_image')}#xm1">查看详细...</a></p>
				</div> <!-- /.project-info -->
			</div> <!-- /.col-md-4 -->
		</div> <!-- /.row -->
        
        <div class="row project-single">
			<div class="col-md-7">
				<div class="project-img">
					<img src="__STATIC__/index/images/includes/pic-2.jpg" alt="Project Image 1">
				</div> <!-- /.project-img -->
			</div> <!-- /.col-md-8 -->
			<div class="col-md-5">
				<div class="project-info">
					<span class="subtitle">案例二：</span>
					<h3 class="project-title">宝乐居母婴</h3>
					<p class="description">宝乐居母婴是一家致力于为婴儿及孕妈妈提供优质商品的公司。意识到数据化时期，互联网服务的重要性，宝乐居决定将线下的业务延伸到线上。宝乐居自身没有产品技术团队，他找到了我们来帮助宝乐居打造线上的第一版产品。</p>
					<p>为宝乐居提供产品解决方案</p>
                    <p><a href="{:url('project_image')}#xm2">查看详细...</a></p>
				</div> <!-- /.project-info -->
			</div> <!-- /.col-md-4 -->
		</div> <!-- /.row -->
        
        <div class="row project-single">
			<div class="col-md-7">
				<div class="project-img">
					<img src="__STATIC__/index/images/includes/pic-3.jpg" alt="Project Image 1">
				</div> <!-- /.project-img -->
			</div> <!-- /.col-md-8 -->
			<div class="col-md-5">
				<div class="project-info">
					<span class="subtitle">案例三：</span>
					<h3 class="project-title">泉州市城东中学</h3>
					<p class="description">泉州市城东中学创办于1969年。建校以来，教学设施不断完善，教育质量逐年提高，在泉州中心城区享有较高
声誉。现为福建省一级达标高中。</p>
					<p>结合学校特点，提供一系列解决方案</p>
                    <p><a href="{:url('project_image')}#xm3">查看详细...</a></p>
				</div> <!-- /.project-info -->
			</div> <!-- /.col-md-4 -->
		</div> <!-- /.row -->
        
	</div> <!-- /.container -->	
          
{/block}