{extend name="layout" /}
{block name="content"}

	<div class="first-widget parallax" id="portfolioId">
		<div class="parallax-overlay">
			<div class="container pageTitle">
				<div class="row">
					<div class="col-md-12 col-sm-12 text-center" style="margin-bottom:20px;">
						<h2 class="page-title">案例介绍</h2>
					</div> <!-- /.col-md-6 -->
					<div class="col-md-12 col-sm-12 text-center">
						<span class="page-location">为您的需求提供快速可靠的技术解决方案</span>
					</div> <!-- /.col-md-6 -->
				</div> <!-- /.row -->
			</div> <!-- /.container -->
		</div> <!-- /.parallax-overlay -->
	</div> <!-- /.pageTitle -->

	<div id="xm1" class="container">	
		<div class="row project-single">
			<div class="col-md-12">
				<div class="project-img">
					<img class="abcimg" src="__STATIC__/index/images/includes/pic-1.jpg" alt="Project Image 1">
				</div> <!-- /.project-img -->
			</div> <!-- /.col-md-8 -->
			<div class="col-md-12">
				<div class="project-info">
					<span class="subtitle">案例一：</span>
					<h3 class="project-title">福建大自然休闲足疗会所</h3>
					<p class="description">福建大自然休闲足疗会所是泉州市最大的休闲娱乐养生会所，致力于为顾客提供最舒适、体贴的健康养生服务。
随着业务扩张和互联网+时代的来临，大自然决定将为顾客提供更加方便快捷，信息化的线上服务作为线下服务的有力补充。</p>
					<p><h4 class="abc-title">传统会所+互联网 ，打造新的服务升级</h4></p>
<p>大自然团队见到我们，提出的初步需求是在两个月内设计并开发出一款基于微信的web应用，目的是让会员用户可以在线上自助完成会员卡的充值、服务项目的预约、服务项目的评价等功能。</p>
<p><img src="__STATIC__/index/images/includes/pic-10e.jpg" alt=""></p>
<p>1.未开发设计之前，大自然已经申请了微信公众号，也有相对应的运营人员负责图文消息的推送，但功能仅限于
此。开发出web应用，目的就是为了增加顾客的服务体验，让顾客可以服务自动化、消费信息透明化、资金记录
信息化，增加顾客的粘合度。</p>
<p>2.系统包含了会员管理、财务管理、钟房管理等功能模块，让繁杂的管理信息化、数据化。</p>
<p>3.通过服务记录，可以对顾客进行差异化跟踪与服务。</p>
<p><img src="__STATIC__/index/images/includes/pic-101.jpg" alt=""></p>
<p><h4 class="abc-title">持续升级的大自然会员服务系统。</h4></p>
<p>目前为大自然提供的该系统，深度结合了大自然的业务流程，大自然模式正式进入互联网1.0版本的数字化服务办公时代。</p>
<p>在整体产品策划方案中，我们为大自然设计的是一套可跟随大自然成长的可拓展性系统。若持续迭代快速升级，我们将会帮助大自然进一步实现"数据化分析"，这套系统，会在顾客消费、服务升级、数据分析等都方面拥有更多出色表现，为大自然创造新的局面。</p>
				</div> <!-- /.project-info -->
			</div> <!-- /.col-md-4 -->
		</div> <!-- /.row -->
	</div> <!-- /.container -->	

	<div class="static-info-project" style="padding:30px 0;">
	</div> <!-- /.static-info-project -->

    <div id="xm2" class="container">	
		<div class="row project-single">
			<div class="col-md-12">
				<div class="project-img">
					<img class="abcimg" src="__STATIC__/index/images/includes/pic-2.jpg" alt="Project Image 1">
				</div> <!-- /.project-img -->
			</div> <!-- /.col-md-8 -->
			<div class="col-md-12">
				<div class="project-info">
					<span class="subtitle">案例二：</span>
					<h3 class="project-title">宝乐居母婴</h3>
					<p class="description">宝乐居母婴是一家致力于为婴儿及孕妈妈提供优质商品的公司。意识到数据化时期，互联网服务的重要性，宝乐居决定将线下的业务延伸到线上。宝乐居自身没有产品技术团队，他找到了我们来帮助宝乐居打造线上的第一版产品。</p>
					<p><h4 class="abc-title">为宝乐居提供产品解决方案</h4></p>
<p><h5 class="abc-title">需求梳理，产品定位</h5></p>
<p>鉴于为第一版本产品，我们不建议宝乐居做成APP，而是做基于微信端定制化的web应用服务。对于宝乐居来说第一款产品需要快速的实现以检验需求及模式，在功能所能达到的效果与能力上app和微信几乎无区别，但App开发周期较长，获取用户成本高，迭代周期长，会耗费更多的人力成本和时间成本，微信端开发是最低成本的快速试错。</p>
<p><h5 class="abc-title">数据当道，差异化服务</h5></p>
<p>母婴商城数量日渐增多，如何才能在众多品牌中脱引而出。我们给出的建议是，数据化运营，差异化服务。对于越来越多的客户，定制化服务最能捕获客户的忠诚。因此，我们设计之初，变针对性的增加会员客户的服务功能。</p>
<p><h4 class="abc-title">母婴商城的互联网+</h4></p>
<p>母婴商城项目，共历时40多个工作日，通过高效的沟通方式、标准化的项目管理流程，保证了项目按时按质开发完成。</p>
				</div> <!-- /.project-info -->
			</div> <!-- /.col-md-4 -->
		</div> <!-- /.row -->
	</div> <!-- /.container -->	
    
    <div class="static-info-project" style="padding:30px 0;">
	</div> <!-- /.static-info-project -->
    
    <div id="xm3" class="container">	
		<div class="row project-single">
			<div class="col-md-12">
				<div class="project-img">
					<img class="abcimg" src="__STATIC__/index/images/includes/pic-3.jpg" alt="Project Image 1">
				</div> <!-- /.project-img -->
			</div> <!-- /.col-md-8 -->
			<div class="col-md-12">
				<div class="project-info">
					<span class="subtitle">案例三：</span>
					<h3 class="project-title">泉州市城东中学</h3>
					<p class="description">泉州市城东中学创办于1969年。建校以来，教学设施不断完善，教育质量逐年提高，在泉州中心城区享有较高
声誉。现为福建省一级达标高中。</p>
                    <p>在"信息化"和"互联网+"的时代里，整个教育行业都在调整、创新、整合，城东中学也一直在寻求突破的方法。为此我们帮助城东中学一起打造了一款符合现代审美理念，实用性较强的网站解决方案。</p>
					<p><h4 class="abc-title">结合学校特点，提供一系列解决方案</h4></p>
          <p>
          	<div class="project-img">
							<img src="__STATIC__/index/images/includes/pic-102.jpg" alt="">
						</div> <!-- /.project-img -->
          </p>
<p><img src="__STATIC__/index/images/includes/pic-3b.jpg" alt=""></p>
<p><h4 class="abc-title">数字化办公及信息管理</h4></p>
<p><h5 class="abc-title">教师办公信息化</h5></p>
<p>学校教职工总数达到200多人，每日所产生的教学信息、办公信息高达数千条，信息的快速更迭需要系统化运作。为此，我们提供一套可供教师链接使用的教学资源内部网，供教职工随时查阅自己的教学资源。</p>
<p><h5 class="abc-title">系统让管理流程分配更全面</h5></p>
<p>我们将城东中学的工作业务流程线上化过程中，设计了多个管理权限及流程角色的划分。让每个阶段都有专员进行操作。各层级执行人员的权限及角色划分，保障了教学资源的合理分配，教学的执行质量，任何细节都落实到人。</p>
				</div> <!-- /.project-info -->
			</div> <!-- /.col-md-4 -->
		</div> <!-- /.row -->
	</div> <!-- /.container -->	
        
{/block}