{extend name="layout" /}
{block name="content"}
	<div class="first-widget parallax" id="blogId">
		<div class="parallax-overlay">
			<div class="container pageTitle">
				<div class="row">
					<div class="col-md-12 col-sm-12 text-center" style="margin-bottom:20px;">
						<h2 class="page-title">关于我们</h2>
					</div> <!-- /.col-md-6 -->
					<div class="col-md-12 col-sm-12 text-center">
						<span class="page-location">为您的需求提供快速可靠的技术解决方案</span>
					</div> <!-- /.col-md-6 -->
				</div> <!-- /.row -->
			</div> <!-- /.container -->
		</div> <!-- /.parallax-overlay -->
	</div> <!-- /.pageTitle -->

	<div class="container">	
		<div class="row project-single">
			<div class="col-md-6">
				<div class="project-info">
					<span class="subtitle">让您更了解我们！</span>
					<h3 class="project-title">长城信息企业简介</h3>
                    <h5 class="abc-title">企业历史</h3>
					<p>福建省长城信息发展有限公司（前身福建长城寻呼中心）二十几年的电信业务经营历史。</p>
                    <h5 class="abc-title">发展蓝图</h3>
					<p>帮助传统门店打造"互联网+"，为小微企业实现互联网信息化服务。</p>
                    <h5 class="abc-title">现有业务</h3>
					<p>系统集成平台设计（含微信）、软件开发、信息技术服务等。</p>
                    <h5 class="abc-title">企业宗旨</h3>
					<p>服务于大众，奉献于社会为经营宗旨为广大客户提供高质量的电信增值互联网应用及电子商务等服务。</p>
                    <h5 class="abc-title">企业规模</h3>
					<p>公司成立于1998年，注册资本1000万元人民币<br>
公司参股2家子公司：<br>
福建省神州长城通信技术有限公司<br>
福建省福利彩票中心合作的好彩头技术开发有限公司。</p>
				</div> <!-- /.project-info -->
			</div> <!-- /.col-md-4 -->
			<div class="col-md-6">
				<div class="project-img">
					<img src="__STATIC__/index/images/includes/abc.jpg" alt="Project Image 1">
				</div> <!-- /.project-img -->
			</div> <!-- /.col-md-8 -->
		</div> <!-- /.row -->
	</div> <!-- /.container -->	

{/block}